* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-linear-gradient: linear-gradient(
    305deg,
    rgba(131, 58, 180, 1) 9%, 
    rgba(253, 29, 29, 1) 49%, 
    rgba(245, 166, 56, 1) 90%);
  --background-bright-color: #fef4e7;
  --title-font: "Play", sans-serif;
  --text-font: "Baloo 2", sans-serif;
  --color-red: #FD1D1D;
  --color-orange: #F2930D;
}

body {
  background: var(--background-bright-color);
  color: var(--color-red);

  font-family: var(--text-font);
}

.container {
  width: 100%;
  max-width: 1400px;

  margin: auto;
  padding: 40px 20px;
}

.principal {
  text-transform: uppercase;
  height: 100vh;
}

.principal span {
  display: inline-block;
  margin-bottom: 2rem;
  padding: 8px 16px;

  border-radius: 999px;
  background-color: rgba(253, 29, 29, 0.15);
  border: 1px solid var(--color-red);

  color: var(--color-red);
  font-weight: 500;
}

.principal h1 {
  font-family: var(--title-font);
  font-size: 7rem;
  letter-spacing: -4px;

  & strong {
    background: linear-gradient(
    305deg,
    rgba(131, 58, 180, 1) 9%, 
    rgba(253, 29, 29, 1) 49%, 
    rgba(245, 166, 56, 1) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
}

.principal .subtitle{
  display: inline-block;
  align-items: center;
  justify-content: center;
  max-width: 40rem;

  font: var(--text-font);
  text-transform: initial;
}

.hero, 
.principal {
  text-align: center;
  margin-bottom: 50px;
}

.hero span {
  display: inline-block;

  margin-bottom: 16px;
  padding: 8px 16px;

  border-radius: 999px;

  background: rgba(246, 190, 92, 0.15);
  color: var(--color-orange);
  font-family: var(--title-font)
  font-weight: 500;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 12px;
}

.hero p {
  color: var(--color-red);
  font-weight: 500;
  
}

.cards {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.4rem;
  }

  .card {
    width: 100%;
    max-width: 350px;
  }
}