.header {
  width: 100%;
  padding: 20px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #FBE1BB;
  background: linear-gradient(
    305deg,
    rgba(131, 58, 180, 1) 9%, 
    rgba(253, 29, 29, 1) 49%, 
    rgba(245, 166, 56, 1) 90%);
}

.header h1 {
  font-family: "DynaPuff", system-ui;
  color: white;
  font-size: 2rem;
}

.header nav {
  display: flex;
  gap: 24px;
}

.header a {
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  color: #FBE1BB;
  text-decoration: none;

  transition: 0.3s;
}

.header a:hover,
.header .active {
  color: white;
}